@using Flight_Manager.Data.Models;
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<User> UserManager
@model List<FlightViewModel>

@if (User.Identity.IsAuthenticated == false)
{<div class="jumbotron mt-3 chushka-bg-color">
        <h1>Welcome to Flight Manager Universal Air Company</h1>
        <hr class="bg-white" />
        <h3><a class="nav-link-dark" href="/Home/login">Login</a> if you have an account.</h3>
        <h3><a class="nav-link-dark" href="~/Home/register">Register</a> if you don't.</h3>
    </div>
}
else
{
    @if (User.IsInRole(Roles.Admin.ToUpper()))
    {
        <div class="container-fluid text-center">
            <h2>Greetings, admin!</h2>
            <h4>Enjoy your work today!</h4>
        </div>
    }
    else if (User.IsInRole(Roles.User.ToUpper()))
    {
        <div class="container-fluid text-center">
            <h2>Greetings, @User.Identity.Name!</h2>
            <h4>Feel free to view and order any of our products.</h4>
        </div>
    }
    <hr class="hr-2 bg-dark" />
    <div class="container-fluid product-holder">
        <div class="row d-flex justify-content-around">
            <table id="myTable" class="table bg-white">
                <thead>
                    <tr>
                        <th>
                            LocationFrom
                        </th>
                        <th>
                            LocationTo
                        </th>
                        <th>
                            Landing
                        </th>
                        <th>
                            PlaneId
                        </th>
                        <th>
                            PilotName
                        </th>
                        <th>
                            CountOfFreePositions
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
            <tr>
                <td>
                    @item.LocationFrom
                </td>
                <td>
                    @item.LocationTo
                </td>
                <td>
                    @item.Landing
                </td>
                <td>
                    @item.PlaneId
                </td>
                <td>
                    @item.PilotName
                </td> 
                <td>
                    @item.CountOfFreePosition
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@item.PlaneId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlaneId">Delete</a>
                </td>
            </tr>}
                </tbody>
            </table>
            </div>
        }
    </div>
    
}


