@using Flight_Manager.Data.Models;
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<User> UserManager
@model List<FlightViewModel>

@if (User.Identity.IsAuthenticated == false)
{<div class="jumbotron mt-3 chushka-bg-color">
        <h1>Welcome to Flight Manager Universal Air Company</h1>
        <hr class="bg-white" />
        <h3><a class="nav-link-dark" href="/Home/login">Login</a> if you have an account.</h3>
        <h3><a class="nav-link-dark" href="~/Home/register">Register</a> if you don't.</h3>
    </div>
}
else
{
    @if (User.IsInRole(Roles.Admin))
    {
        <div class="container-fluid text-center">
            <h2>Greetings, admin!</h2>
            <h4>Enjoy your work today!</h4>
        </div>
    }
    else if (User.IsInRole(Roles.User))
    {
        <div class="container-fluid text-center">
            <h2>Greetings, @User.Identity.Name!</h2>
            <h4>Feel free to view and order any of our products.</h4>
        </div>
    }
    <hr class="hr-2 bg-dark" />
    <div class="container-fluid product-holder">
        <div class="row d-flex justify-content-around">
            @foreach (var flight in Model)
            {
                <div class="product col-md-2 chushka-bg-color rounded-top rounded-bottom">
                    <h5 class="text-center mt-3">@flight.PlaneId</h5>
                    <hr class="hr-1 bg-white" />
                    <p class="text-white text-center">
                        @flight.LocationFrom
                    </p>
                    <p class="text-white text-center">
                        @flight.LocationTo
                    </p>
                    <hr class="hr-1 bg-white" />
                    <h6 class="text-center text-white mb-3">@flight.CountOfFreePosition</h6>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a class="nav-link nav-link-white" asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@flight.PlaneId">Edit Product</a>
                        <a class="nav-link nav-link-white" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@flight.PlaneId">Delete Product</a>
                    }
                </div>
            }
        </div>
    </div>
}


